//Colors
$grey: #333;
$light-grey: #fafafa;
$light-grey-border: #eee;
$light-color: #aaa;


@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');
$main-font: 'Playfair Display', serif;

$key-color: #c0a062;
