.todolist-title {
    font-family: $main-font;
    color: $key-color;
    text-align: center;
}

.todo {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 1rem;
    transition: background .3s ease;

    p, input {
        margin: 0;
        color: #999;
    }

    > :first-child {
        margin-right: 1rem;
    }

    &:hover {
        background: #0d0d0d;
    }
}

.todo__subtext {
    color: #999;
}

.todo-completed {
    p, .todo__subtext {
        color: $light-color;
        text-decoration: line-through;
    }
}
